<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="test.leco.com.zgz">
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity android:name=".t.HomePageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".t.AdvancedSearchActivity"/>
        <activity android:name=".t.NearWorkActivity"/>
        <activity android:name=".t.WhoSeeMeActivity"/>

        <activity android:name=".t.SearchListActivity"/>
        <activity android:name=".t.PositionDetailsActivity"/>
        <activity android:name=".t.EnterpriseDetailsActivity"/>
        <activity android:name=".t.PartTimeJobActivity"/>
        <activity android:name=".t.CompanyDetailsActivity"/>
        <activity android:name=".t.IndustryInvolvedActivity"/>
        <activity android:name=".t.InvolvedItemActivity"/>

        <!--zxy-->
        <activity android:name=".zxy.MyResumeActivity"/>
        <activity android:name=".zxy.MyDeliverActivity"/>
        <activity android:name=".zxy.MyDownloadActivity"/>
        <activity android:name=".zxy.MyMessageActivity"/>
        <activity android:name=".zxy.MyCollectActivity"/>
        <activity android:name=".zxy.MyAttentionActivity"/>
        <activity android:name=".zxy.MySysSettingActivity"/>
        <activity android:name=".zxy.MyAdviceActivity"/>

        <activity android:name=".zxy.PositionDetailActivity"/>

        <activity android:name=".zxy.InterviewFaceActivity"/>
        <activity android:name=".zxy.InterviewMessageActivity"/>
        



    </application>
    
</manifest>