<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="test.leco.com.zgz">
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity android:name=".t.HomePageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".t.AdvancedSearchActivity"/>  <!--高级搜索页面-->
        <activity android:name=".t.NearWorkActivity"/>  <!--附近的工作-->
        <activity android:name=".t.WhoSeeMeActivity"/>   <!--谁看过我-->
        <activity android:name=".t.SearchListActivity"/>   <!--高级搜索下的三级页面搜索列表-->
        <activity android:name=".t.PositionDetailsActivity"/>   <!--职位详情-->
        <activity android:name=".t.EnterpriseDetailsActivity"/>  <!--企业详情-->
        <activity android:name=".t.PartTimeJobActivity"/>  <!--兼职-->
        <activity android:name=".t.CompanyDetailsActivity"/>  <!--公司详情-->
        <activity android:name=".t.IndustryInvolvedActivity"/>  <!--所属行业-->
        <activity android:name=".t.InvolvedItemActivity"/>  <!--行业分类下的子页面-->
        <activity android:name=".t.MePositionActivity"/>  <!--我约过的公司职位-->

        <!--zxy-->
        <activity android:name=".zxy.MyResumeActivity"/>
        <activity android:name=".zxy.MyDeliverActivity"/>
        <activity android:name=".zxy.MyDownloadActivity"/>
        <activity android:name=".zxy.MyMessageActivity"/>
        <activity android:name=".zxy.MyCollectActivity"/>
        <activity android:name=".zxy.MyAttentionActivity"/>
        <activity android:name=".zxy.MySysSettingActivity"/>
        <activity android:name=".zxy.MyAdviceActivity"/>
        <activity android:name=".zxy.ReferCompanyActivity"/>
        <activity android:name=".zxy.PositionDetailActivity"/>

        <activity android:name=".zxy.InterviewFaceActivity"/>
        <activity android:name=".zxy.InterviewMessageActivity"/>
        



    </application>
    
</manifest>