<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="test.leco.com.zgz">
    <!--短信验证权限-->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity android:name=".t.HomePageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateHidden|adjustResize"/>


        <activity android:name=".t.AdvancedSearchActivity"/>
        <activity android:name=".t.NearWorkActivity"/>
        <activity android:name=".t.WhoSeeMeActivity"/>

        <activity android:name=".t.SearchListActivity"/>
        <activity android:name=".t.PositionDetailsActivity"/>
        <activity android:name=".t.EnterpriseDetailsActivity"/>
        <activity android:name=".t.PartTimeJobActivity"/>
        <activity android:name=".t.CompanyDetailsActivity"/>
        <activity android:name=".t.IndustryInvolvedActivity"/>
        <activity android:name=".t.InvolvedItemActivity"/>
        <activity android:name=".t.MePositionActivity"/>

        <!--zxy-->
        <activity android:name=".zxy.MyResumeActivity"/><!--我的简历-->
        <activity android:name=".zxy.MyDeliverActivity"/><!--投递记录-->
        <activity android:name=".zxy.MyDownloadActivity"/><!--谁下载了我的简历-->
        <activity android:name=".zxy.MyMessageActivity"/><!--面试通知-->
        <activity android:name=".zxy.MyCollectActivity"/><!--我的收藏-->
        <activity android:name=".zxy.MyAttentionActivity"/><!--我的关注-->
        <activity android:name=".zxy.MySysSettingActivity"/><!--系统设置-->
        <activity android:name=".zxy.MyAdviceActivity"/><!--意见反馈-->
        <activity android:name=".zxy.SetNewPasswordActivity"></activity><!--系统设置里修改密码-->

        <activity android:name=".zxy.ReferCompanyActivity"/><!--咨询企业-->
        <activity android:name=".zxy.PositionDetailActivity"/><!--职位详情 公司信息-->

        <activity android:name=".zxy.InterviewFaceActivity"/><!--直约面试-->
        <activity android:name=".zxy.InterviewMessageActivity"/><!--职位里的消息-->
        <activity android:name=".zxy.RegistActivity"/><!--注册页面-->



    </application>
    
</manifest>